html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  margin: 10px;
  padding: 0;
  height: 70vh;
  max-width: 100%;
}

* {
  font-size: 1.1rem;
  box-sizing: border-box;
}

:root {
  --first-color: #3498DB;
  --second-color: white;
}

.common {
  border: 1px solid black;
  border-radius: 8px;
  padding: 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.common h3 {
  background-color: lightgrey;
  margin: 0;
  padding: 10px;
  border-radius: 8px 8px 0 0;
}


/* New Task  */
.newTask {
  height: 15vh;
}

.newTask h3 {
  background-color: lightgrey;
  margin: 0;
  padding: 10px;
  border-radius: 8px 8px 0 0;
}

.newTask form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 10vh;
}

.size {
  width: 30%;
  border: 0px;
  background-color: var(--first-color);
  color: var(--second-color);
  padding: 8px 6px;
  border-radius: 3px;
}

::placeholder {
  color: rgba(255, 255, 255, 0.456);
}

.newTask form input:first-of-type:focus {
  outline: none;
}

form input[type="submit"] {
  cursor: pointer;
}

form input[type="submit"]:hover {
  color: var(--first-color);
  background-color: var(--second-color);;
  border: 1px solid var(--first-color);
}

.radio span:first-of-type{
  margin-right: 15px;
}

input[type='radio'] {
  accent-color: var(--first-color);
}

.radio input:hover {
  cursor: pointer;
}

/* Tasks */
.tasks {
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 10vh;
}

/* Today and Tomorrow*/
.today, .tomorrow{
  width: 42%;
}

.list {
  min-height: 3rem;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.5rem 0 0.5rem 0.8rem;
}

.list-item span:hover {
  color:darkgray;
}

/* Customize checkbox CSS */
label {
  display: block;
  cursor: pointer;
  line-height: 2;
  font-size: 1em;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

input[type="checkbox"]+span {
  font: 16pt sans-serif;
  color: #000;
}

input[type="checkbox"]+span:before {
  font: 16pt FontAwesome;
  content: '\00f096';
  display: inline-block;
  width: 16pt;
  padding: 2px 0 0 3px;
  margin-right: 0.5em;
}

input[type="checkbox"]:checked+span:before {
  content: '\00f046';
  color: var(--first-color);
}

input[type="checkbox"]:focus+span:before {
  outline: 1px dotted #aaa;
}

input[type="checkbox"]:disabled+span {
  color: #999;
}

input[type="checkbox"]:not(:disabled)+span:hover:before {
  text-shadow: 0 1px 2px #77F;
}

/* buttons */
.buttons {
  padding-top: 1.8rem;
}

.buttons p{
  margin: 0;
  text-align: center;
}

.buttons svg {
  font-size: 2.5rem;
}

.button {
  margin-bottom: 2rem;
}

.button:hover {
  color: var(--first-color);
  cursor: pointer;
}

@media screen and (max-width:768px) {
  * {
      font-size: 0.9rem;
    }
    input[type="checkbox"]+span {
      font: 9pt sans-serif;
      }
  
    input[type="checkbox"]+span:before {
      font: 14pt FontAwesome;
    }

    .tasks {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .today,.tomorrow {
        width: 80%;
    }

    .buttons {
         display: flex;
         gap: 3rem;
    }

    .button:nth-child(2)  {
          order: 3;
    }

    .newTask form {
      flex-wrap:  wrap; 
    }

    .size { 
      width: 60%;
    }
}








